
<div class="row">
		<div class="col-10">
		<h2>Hi there, nice to meet you!</h2>
		<br>
		My name is <strong>Rachel Kim</strong>.
		<br>
		I am passionate about the intersection of <strong>business</strong> and <strong>technology</strong>. In particular, I am interested in harnessing data to solve business problems. 
		<br>
		I enjoy working on interdisplinary projects.
		<br>
		As a product strategist, I enjoy balancing the user needs, business goals, and technology abilities.
	</div>
	<div class="col-42">
		<img src="../assets/img/profile.JPG" style="width:300px;">
	</div>
</div>

<br><hr><br>

<div class="row">
	Carnegie Mellon University
	Aug 2015 - Dec 2019
	(*gap semester Fall 2017)
	B.S. Information Systems
	Additional Major in Chinese Language and Culture
	Minor in Humanities Analytics
</div>

<hr>
<div class="row">	
	Outside of work and the classroom, I enjoy...<br>
	<ul>
		<li><a href="https://rchlkm.yelp.com" target="_blank">eating</a> my way through my city</li>
		<li>appreciating the natural beauty of <a href="https://www.instagram.com/ilovethesky__/" target="_blank">skies & palm trees</a></li>
		<li>solo traveling with my Nikon d3300, GoPro Hero 5, and selfie stick & <a href="https://www.youtube.com/user/rachelkim1205/videos" target="_blank">documenting</a> my adventures</li>
		<li>finding <a href="https://www.pinterest.com/rhkkim/" target="_blank">inspiration</a> (and hopefully inspiring others)</li>
		<li>learning about other cultures and studying foreign languages (follow my cultural encounters while <a href="https://rachelinbeijing18.wordpress.com" target="_blank">studying abroad</a> in Beijing, China)</li>
		<li>being a 珍珠奶茶 (boba milk tea) enthusiast</li>
	</ul>
</div>

<br><hr>
<div class="row">
	<h3>Feel free to connect with me!</h3>
	<img src="email.png" alt="email: ">rachelkim.tech@gmail.com<br>
	<img src="img/github.png" alt="github: "><a href="https://github.com/rchlkm" target="_blank">/rchlkm</a><br>
	<img src="img/linkedin.png" alt="linkedin: "><a href="https://linkedin.com/in/rachelhkim" target="_blank">/rachelhkim</a><br>
</div>

