<div id="projects" class="container">

<!-- <div id="projects"> -->
    <div class="title">
      <!-- <h1>Projects</h1> -->
    </div>

    <div id="filterList">
      <ul id="filters" class="clearfix">
          <li><span class="filter #portfoliolist .portfolio.square" data-filter=".web, .data, .misc">all</span></li>
          <li><span class="filter" data-filter=".fav">favorites</span></li>
          <li><span class="filter" data-filter=".web">web</span></li>
          <li><span class="filter" data-filter=".data">data</span></li>
          <li><span class="filter" data-filter=".misc">miscellaneous</span></li>
      </ul>
    </div>


    <div id="portfoliolist">
      <!-- [style.height]="height + 'px'" -->
      <!-- hello this should be the height of all the projct boxes... -->
      <div *ngFor="let project of projects">
        <!-- [class.selected]="project === selectedProject" -->
        <!-- (click)="onSelect(project)"> -->
        
          <!-- <a routerLink="/detail/{{project.id}}"> -->
          <a href="/detail/{{project.id}}">
            <div class="portfolio square {{project.category}}">
                <div class="portfolio-content square-content">
            
                    <div class="portfolio-title">
                      <h2>{{project.title}}</h2>
                    </div>

                    <div class="content-overlay"></div>

                    <div class="overlay-details {{project.status}}">
                        <div class="overlay-status">
                          <p>{{project.duration}}</p>
                        </div>
                        <div class="overlay-title">
                          <h2>{{project.title}}</h2>
                        </div>
                        <div class="overlay-description">
                          <p>{{project.description}}</p>
                        </div>

                        <div class="overlay-tools">
                          <!-- <div *ngFor="let tool of {{project.tools}}"> -->
                            <div class="tool square">
                              <img class="square-content" src="../assets/img/tools/angular.png">
                            </div>
                          <!-- </div> -->
                        </div>
                    </div>

                </div>  
            </div>
          </a>
      </div>


    </div>


    <!-- <app-project-detail [project]="selectedProject"></app-project-detail> -->

</div>

  

<!-- 
<h2>Projects</h2>
<ul class="projects">
  <li *ngFor="let project of projects"
    [class.selected]="project === selectedProject"
    (click)="onSelect(project)">

    <ul>
      <li><span class="badge">{{project.id}}</span> {{project.title}}</li>
      <li>{{project.description}}</li>
    </ul>
  </li>
</ul> -->

<!-- 
<div *ngIf="selectedProject">

  <h2>{{ selectedProject.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedProject.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProject.name" placeholder="name">
    </label>
  </div>

</div> -->


<!-- 

  <div class="portfolio square misc" data-cat="misc" onClick="window.open('http://www.google.com','_self');">
        <div class="portfolio-content square-content">
            
            <div class="portfolio-title">
              <h2>{{project.title}}</h2>
            </div>

            <div class="content-overlay"></div>

            <div class="overlay-details">
              <div class="overlay-status">
                <p>{{project.duration}}</p>
              </div>
              <div class="overlay-title">
                <h2>{{project.title}}</h2>
              </div>
              <div class="overlay-description">
                <p>{{project.description}}</p>
              </div>

              <div class="overlay-tools">
                <div class="tool square">
                </div>
                <div class="tool square">
                </div>
              </div>
              
            </div>

        </div>  
      </div> -->