#landing {
	display: block;
	position: relative;
	overflow-y: hidden;
}

	#seeProjects {
		margin: auto;
		text-align: center;
		height: 10vh;
	}

#landing .container {
	/*height: 52vh;*/
	/*margin: 3rem auto 1rem auto;*/
	padding: 2rem 0 1rem 0;

}

/*
#landing .container {
	height: 52vh;
	margin: 10vh auto 30vh;
}

@media only screen and (min-width: 975px) and (max-width: 1200px) {  
	#landing .container {
		height: 62vh;
		margin: 15vh auto;
	}
}

@media only screen and (max-width: 975px) {
	#landing .container {
		height: 72vh;
		margin: 10vh auto;
	}
}

@media only screen and (max-width: 600px) {
	#landing .container {
		height: 82vh;
		margin: 5vh auto;
	}
}*/

div #hello {
	font-size: 5rem;
	font-weight: bold;
	color: #E1236E;
	margin-bottom: 2rem;
}
	
	.morphext > .animated {
	    display: inline-block;
	}

#landing h1 {
	/*font-size: 3rem;*/
	/*letter-spacing: 2.5px;*/
	/*margin-bottom: 1rem;*/
}

/*	#landing h1 span {
		font-style: bold;
		text-decoration: underline;
		color: #E1236E;
	}*/

#landing p {
	font-size: 1.75rem;
	line-height: 3rem;
}

#landing p span {
	color: #E1236E;
}



span#rachelkim {
	/*text-decoration: underline;*/
} 
	span#rachelkim:hover {
		color: #E1236E;
		text-decoration: underline;
	}



/* ---------------------------- */
/* SCROLL FOR MORE ------------ */
/*
.scroll {
  position:relative;
  font-size:1.3em;
  margin-top:20px;
  display:inline-block;
  height:100px;
}
.scroll:hover {
  text-decoration:none;
}

.scroll:after {
  content:'';
  width:40px;
  height:40px;
  position:absolute;

  margin:auto;
  top:10px;
  right:0;

  left:0;
  -webkit-animation:3s arrow infinite ease;
  animation:3s arrow infinite ease;
}

.scroll:after {
  border-right:2px solid #FFF;
  border-bottom:2px solid #FFF;	
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);

}
*/
