#landing {
	/*height: 100vh;*/
	/*height: 90vh;*/
	/*border-top: 4px #E1236E solid; */

	display: block;
	position: relative;
	overflow-y: hidden;
}

	#seeProjects {
		margin: auto;
		text-align: center;
		height: 10vh;
	}




#landing .container {
	height: 52vh;
	margin: 10vh auto 30vh;

	/*border: 1px solid;*/
}

@media only screen and (min-width: 975px) and (max-width: 1200px) {  
	#landing .container {
		height: 62vh;
		margin: 15vh auto;
	}
}

@media only screen and (max-width: 975px) {
	#landing .container {
		height: 72vh;
		margin: 10vh auto;
	}
}

@media only screen and (max-width: 600px) {
	#landing .container {
		height: 82vh;
		margin: 5vh auto;
	}
}

div #hello {
	font-size: 5rem;
	font-weight: bold;
	color: #E1236E;
	margin-bottom: 2rem;
}
	
	.morphext > .animated {
	    display: inline-block;
	}

#landing h1 {
	font-size: 3rem;
	letter-spacing: 2.5px;
	margin-bottom: 1rem;
}

	#landing h1 span {
		font-style: bold;
		text-decoration: underline;
		color: #E1236E; /*var(--magenta);*/
	}

#landing p {
	font-size: 2rem;
	line-height: 3.5rem;
}

#landing p span {
	color: #E1236E;
}
