.container { 
	position: relative; 
	width: 80%; /* 960px */
	min-width: 300px;
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}


#filters {
	margin: 1% -1.5%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		text-decoration: underline;
	}
 


#portfoliolist {
	margin: 0 -2.5% 0 -1.5%;
} 

#portfoliolist .portfolio.square {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	
	/*  DEFAULT: show 3 items per row */
	width:30%; 
	margin:1.5%;

	position: relative;
	display:none;

	float:left;
	overflow:hidden;
	cursor:pointer;

	background: #363795; /* fallback for old browsers */
	background: -webkit-linear-gradient(#363795, #005c97); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient #363795, #005c97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

	.portfolio-content.square-content {
		color: white;
	}
	


/* 
	Clearing 
*/
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}

.row:after,
.clearfix:after {
	clear: both; 
}

.row,
.clearfix {
	zoom: 1; 
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.portfolio-title {
	margin: 0;
	width: 80%;
	
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	opacity: 1;
	-webkit-transition: all 0.8s ease-in-out 0s;
	-moz-transition: all 0.8s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
	
}

	.portfolio-title h2 {
		text-transform: uppercase;
		letter-spacing: 0.15em;
		font-size: 1.5em;
		text-align: center;
		line-height: 1.5em;
	}

	.portfolio-content:hover .portfolio-title {
	  opacity: 0;
	}



.portfolio-content .content-overlay {
	background: rgba(0,0,0,0.2);
	position: absolute;
	height: 100%;

	width: 100%;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	transition: all 0.6s ease-in-out 0s;
}

	.portfolio-content:hover .content-overlay{
	  opacity: 1;
	}




.overlay-details {
	opacity: 0;
	position: absolute;
	text-align: center;

	margin: auto 0;
	padding: 0 10%;

	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all .4s ease-in-out 0s;
}
	.overlay-details.coming-soon {
		cursor:not-allowed;
	}

	.portfolio-content:hover .overlay-details{
		top: 50%;
		left: 50%;
		opacity: 1;
	}


	.overlay-status {
		margin: 10% 0;
		height: .8em;
		font-size: .8em;
		text-transform: uppercase;
	}
		.coming-soon > .overlay-status p:before {
			content: "coming soon"
		}

	.overlay-title {
		margin: 10% 0;
		border-bottom: 1px solid #FFF;
		border-top: 1px solid #FFF;
		padding: 1em 0;
	
	    overflow: hidden;
	}

		.overlay-title h2 {
			color: #fff;
			font-size: 1.4em;
			font-weight: 500;

			letter-spacing: 0.15em;
			text-transform: uppercase;
			white-space: nowrap;
		}

	.overlay-description {
		margin: 10% 0 5% 0;
		max-height: 2em;
		border: 1px solid transparent;
		overflow: hidden;
	}

		.overlay-description p {
		  color: #fff;
		  font-size: 0.8em;
		}



	.overlay-tools {
		line-height: 1em;
	}

		.tool {
			width: 18%;
			margin: .5%;
			
			background-color: transparent;
		    /*border: 1px white solid;*/
		    /*background-color: rgba(0,0,0,0.4);*/
		}

		.tool img {
			width: 100%;
			heigh: 100%;
		}












/*  SMALLER DESKTOP / BIGGER TABLET (3 items per row) with smaller margins */
@media only screen and (max-width: 1350px) {  
	.container {
		width: 90%;
	}
}

	@media only screen and (min-width: 975px) and (max-width: 1200px) {  
		.container {
			width: 98%;
		}
	}

	/* TABLET (2 items per row) */
	@media only screen and (max-width: 975px) {
		.container { 
			width: 95%; 
		}
		
		#filters {
			margin-left: -2.5%;
		}

		#portfoliolist {
			margin: 0 -1.25%;
		} 

		#portfoliolist .portfolio.square {
			width:48%;
			margin:1%;		
		}

		.overlay-status {
			margin: 8% 0;
			/*height: .7em;*/
			font-size: .7em;
		}
		.overlay-description {
			max-height: 1.8em;
		}
		.overlay-description p {
			font-size: .7em;
		}

		.tooltip .tooltiptext {
			opacity: 0;
		}	
	}

	/*  TABLET (2 items per row) with bigger margins */
	@media only screen and (min-width: 800px) and (max-width: 975px) {
		.container {
			width: 85%;
		}
		.overlay-title h2 {
			font-size: 1.5em;
		}

		.overlay-title h2 {
			font-size: 1.4em;
		}
		
		/*.overlay-description p {
			font-size: .8em;
		}*/
	}
	/* @media only screen and (min-width: 800px) and (max-width: 900px) {	}
	*/

	/* MOBILE PHONE (1 item per row) */
	@media only screen and (max-width: 600px) {
		.container { 
			width: 95%; 
		}
		#filters {
			margin-left: -1.15%;
		}
		#portfoliolist {
			margin: 0 -1.15%;
		} 
		#portfoliolist .portfolio.square {
			width: 98%;
			margin: 1%;
		}

		.tooltip .tooltiptext {
			opacity: 0;
		}
	}


/*		.portfolio-title h2 {
			font-size: 1.3em;
		}

		.overlay-status {
			margin: 8% 0;
			height: .6em;
			font-size: .6em;
		}
		.overlay-title h2 {
			font-size: 1.2em;
		}

		.overlay-title {
			margin: 6% 0;
		}
		.overlay-description {
			max-height: 1.6em;
		}

		.overlay-description p {
			font-size: .6em;
	}*/