/*
	SQUARE BOXES (1:1 RATIO)
*/
.square {
    position: relative;
    width: 45%;
    margin: 2%;

	display: inline-block;
    background: pink;

    /* development use */
    min-height: 100px;
    border: 1px black;
}

	.square:before {
	    content: "";
	    display: block;
	    padding-top: 100%;
	}	

	.square-content {    
	   position:  absolute;
	   top: 0; left: 0; bottom: 0; right: 0;

	 
	   font-size: 1.5rem;
	   color: white;
	}

	.square-content.center {
		position: absolute;
		left: 50%; top: 50%; 
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}





.tooltip {
    position: relative;
    display: inline-block;
 	
}

	.tooltip .tooltiptext {
	    visibility: hidden;
	    /*width: 100%;*/
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;


	    /*padding: 5px 0;*/
	    position: absolute;
	    z-index: 1;


	    /*top: 110%;*/
	    /*left: 50%;*/
	    /*margin-left: -60px;*/

	    
	    font-size: .5em;
	    padding: 10%;
	    white-space: nowrap;
	}

	.tooltip .tooltiptext::after {
		/* create the top arrow */
	    content: "";
	    position: absolute;

	    bottom: 100%;
	    left: 50%;
	    
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: transparent transparent black transparent;
	}

	.tooltip:hover .tooltiptext {
	    visibility: visible;
	}


