<div id="landing">
	<div class="container">
		<!-- <span id="hello" class="js-rotating">Hello!, 안녕!, 你好!</span> -->
		<div id="hello" class="js-rotating">Hello!</div>
		
<!-- 		<script type="text/javascript">
			$(".js-rotating").Morphext({
			    animation: "flipInX",
			    speed: 4000,
			    complete: function () {
			        console.log("js is rotating");
			    }
			});
		</script> -->

		<h1>My name is Rachel Kim.</h1>
    	<!-- Hi there!  -->
    	<!-- <h1>I'm <span>Rachel Kim</span>.</h1> -->
    	<!-- <p>I am an aspiring <strong>product manager</strong>.<br>I shape technology to identify problems and solve them.</p> -->
    	<p>I shape technology to identify problems and solve them.</p>


    </div>
</div>


<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" routerLink="/projects">
			<!-- <img src="" alt="rachel kim" width="112" height="28"> -->
				<h1>rachel kim</h1>
			</a>

			<div class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div id="navMenu" class="navbar-menu">
			<div class="navbar-end">    
				<a class="navbar-item" routerLink="/about">&nbsp; about</a>
				<a class="navbar-item" routerLink="/projects">&nbsp; projects</a>
				<a class="navbar-item" href="../assets/kim,rachel.pdf" target="_blank">&nbsp;resume</a>
			</div>

		</div>
	</div>
</nav>	



<main>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</main>


<footer>
    <div class="footer-main container">
    	<div class="row">
	      <div class="col-8">
	      	<h2>Like what you see?</h2>
	      	<h3>I'm always looking for people to connect with~</h3>
	      	<span>Feel free to email me at gmail</span><br>
	      	<span>Or, there's always LinkedIn</span><br>

	      	<span></span>


	      </div>
	      <div class="col-4">
	      	<strong>WORK</strong>
	      	<ul>
	      		<li>github</li>
	      		<li>linkedin</li>
	      	</ul>
	      	<strong>FUN</strong>
	      	<ul>
	      		<li>yelp</li>
	      		<li>youtube</li>
	      	</ul>
	      
	      <strong>CONTACT</strong>
	      	<ul>
	      		<li>email</li>
	      		<li>phone</li>
	      		<li>pittsburgh, pa</li>
	      	</ul>
      	</div>
      </div>
    </div>

    <div class="footer-copyright">
	    <div class="container">
            <span>&copy; Rachel Kim 2017 | Built with AngularJS.</span>
		</div>
  </div>
</footer>