
<div id="content"> 
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				<!-- <a id="logo" class="navbar-item" routerLink="/projects"> 
				-->
				<a id="logo" routerLink="/home">
				<!-- <img src="" alt="rachel kim" width="112" height="28"> -->
					<h1>rachel kim</h1>
				</a>

				<div class="navbar-burger burger" data-target="navMenu">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

			<div id="navMenu" class="navbar-menu">
				<div class="navbar-end">    
					<a class="navbar-item" href="/projects">&nbsp; projects</a>
					<a class="navbar-item" href="/home#about">&nbsp; about</a>
					<!-- <a ng-click="goToElement('projects')">&nbsp; projects</a> -->


					<!-- <a class="navbar-item" routerLink="/about">&nbsp; about</a>
					<a class="navbar-item" routerLink="/projects">&nbsp; projects</a> -->
					<a class="navbar-item" href="../assets/kim,rachel.pdf" target="_blank">&nbsp;resume</a>
				</div>

			</div>
		</div>
	</nav>	


<main>
	<router-outlet></router-outlet>
</main>
</div>


<!-- <footer>
	    <div class="container">
            <span>linkedin // github</span>
            <br>
            <span>&copy; Rachel Kim 2018</span>
            <br>
            <span>Built with AngularJS &hearts;</span>

		</div>
</footer> -->

<!-- 
    <div class="footer-main container">
    	<div class="row">
	      <div class="col-8">
	      	<h2>Like what you see?</h2>
	      	<h3>I'm always looking for people to connect with~</h3>
	      	<span>Feel free to email me at gmail</span><br>
	      	<span>Or, there's always LinkedIn</span><br>

	      	<span></span>


	      </div>
	      <div class="col-4">
	      	<strong>WORK</strong>
	      	<ul>
	      		<li>github</li>
	      		<li>linkedin</li>
	      	</ul>
	      	<strong>FUN</strong>
	      	<ul>
	      		<li>yelp</li>
	      		<li>youtube</li>
	      	</ul>
	      
	      <strong>CONTACT</strong>
	      	<ul>
	      		<li>email</li>
	      		<li>phone</li>
	      		<li>pittsburgh, pa</li>
	      	</ul>
	      	<a href="#projects" style="text-decoration: underline;">Go to top</a>
      	</div>
      </div>
    </div> 
	-->
