.navbar-right {
	flex-grow: 0;
}

/*.navbar-right {
	flex-grow: 0;
}*/

nav a {
	/*text-transform: uppercase;*/
	text-transform: lowercase;
}

/*nav .container {
	align-content: center;
}*/

.navbar-burger span {
	background-color: white !important;
}

	.navbar-burger:hover {
	  /*background-color: var(--magenta) !important;*/
	  background-color: #E1236E !important;
	}


.navbar-brand {
	padding: 0;
}