body {
	font-family: 'Avenir Next', sans-serif;
	min-width: 100%;
	max-width: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: $height-footer;
  background-color: #f5f5f5;
  text-align: center;
  /*.footer-block {
    margin: 20px 0;
  }*/
}
