@import url('assets/css/grid.css');
@import url('assets/css/landingPage.css');
@import url('assets/css/navbar.css');
@import	url('assets/css/portfolio-grid.css');
@import	url('assets/css/portfolio-filter.css');
@import	url('assets/css/colors.css');
/*@import url(https://fonts.googleapis.com/css?family=Quicksand);*/
@import url(https://fonts.google.com/specimen/Nunito+Sans);

:root {
	--navy: #252934;
	--navy-dark: #1B242F;
	--pink: #E55A7C;
	--salmon: #ff9a9e;
	--magenta: #E1236E;
	--teal: #21C2C8;
	
	--grey-bg: #f5f5f5;
	--black-bg: #262626;

  /*--breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;*/
}


*, *:before, *:after{
  margin: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Nunito Sans','Quicksand', 'Avenir Next', sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 300px;
	
	/*height: 100%;*/
	/*margin: 0 auto;*/

	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;

	position: relative;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

body {
	/*margin: 0;*/
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	top: 0;

	/*max-width: 1500px;*/

	border-bottom: 1px solid blue;
	margin: 0 auto !important;
}



a {
	text-decoration: none;
}

/* --------------------------------------- */
/* CONTAINER + MAIN ---------------------- */

.container { 
	position: relative; 
	width: 80%; /* 960px */
	min-width: 300px;
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}

main {
	/*min-height: 50vh;*/
	/*margin: auto 8rem;*/
	margin: auto 10%;

	border: 1px solid orange;
}

/* BIGGER DESKTOP */
@media only screen and (min-width: 1500px) {  
	.container {
		width: 1250px;
	}
}


/*  SMALLER DESKTOP / BIGGER TABLET (3 items per row) with smaller margins */
@media only screen and (max-width: 1350px) {  
	.container {
		width: 90%;
	}

	main {
		margin: auto 2%;
	}

}
	@media only screen and (min-width: 975px) and (max-width: 1200px) {  
		.container {
			width: 96%;
		}
	}

	/* TABLET (2 items per row) */
	@media only screen and (max-width: 975px) {
		.container { 
			width: 96%; 
		}

		main {
			/*margin: auto 1rem;*/
			margin: auto 2.5%;
		}
	}

	/* MOBILE PHONE (1 item per row) --  width: 96%; */
	@media only screen and (max-width: 600px) {
		.container { 
			width: 96%; 
		}

		main {
			/*margin: auto 0.5rem;*/
			margin: auto 2.3%;
		}
	}

/* ----------------------------- */
/* NAVBAR ---------------------- */
.navbar {
	height: 8vh;
	/*width: 100%;*/
	padding: 1rem 0;
	/*overflow: hidden;*/
}
	.sticky {
	  position: fixed;
	  width: 100%;
	  left: 0;
	  top: 0;
	  z-index: 100;
	  /*border-top: 0;*/
	}

div .navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}

	.navbar-brand {
		/*margin: -1rem;*/
	}

	.navbar-burger {
		/*height: -50% !important;*/
	}

div #navMenu {
	background-color: white;
}

	div#navMenu.navbar-menu.is-active > a.navbar-item {
		padding: 0.5rem 0;
		/*padding: 0.5rem 1rem;*/
	}

	div#navMenu.navbar-menu.is-active {
		box-shadow: 0 5px 5px -5px rgba(0,0,0,.6);
		margin: auto -4%;
	}

	div#navMenu.navbar-menu.is-active .navbar-end {
		margin: auto 4%;
	}

/* ----------------------------- */
/* FOOTER ---------------------- */
footer {
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 15vh;
	/*padding: 5%;*/
	padding: 2rem;
	line-height: 2rem;
}

	footer .footer-main {
		height: 85%;
	}

	footer .row {
		margin: 3rem 0;
	}

	footer .footer-copyright {
		overflow: hidden;
		height: 15%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		/*background-color: rgba(51, 51, 51, 0.08);*/
		width: 100%;
	}

	footer .footer-copyright .container {
		margin: 0 auto;
		padding: 1rem 0;
	}





.porfilio.square {
	background-color: grey !important;
}



/* ----------------------------- */
/* COLORS ---------------------- */

html {
	color: var(--navy) !important;
}

	::selection {
		background-color: var(--magenta);
		color: white;
	}

nav, footer {
	/*background-color: var(--navy) !important;*/
}
	nav a, footer a {
		/*color: white !important;*/
		/*color: var(--magenta) !important;*/
		color: var(--navy) !important;
	}




nav {
	border-top: 5px var(--magenta) solid;
	/*width: 100%;*/
	/*border-bottom: 5px solid var(--magenta) !important;*/
}



footer {
	/*background-color: rgba(225, 35, 110, 0.5);*/
	/*color: white !important;*/
	border-top: 1px solid var(--magenta) !important;
}
	footer .footer-copyright {
		/*background-color: var(--navy-dark);*/
	}



#portfoliolist .portfolio.square {
	background-color: #e8e8e8;
}

a:hover, 
#filters li span:hover {
	color: var(--magenta) !important;
}

#filters li span.active {
	color: var(--navy);
}

hr {
	color: var(--magenta);
}














.item {
	margin: 2rem 0;
}
	.item h4 {
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		font-weight: 200;
	}

	.item ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-bottom: 0.2rem;
	}


.anchor{
  display: block;
  height: 10vh; 
  margin-top: -10vh; 
  /*height: 13vh; 
  margin-top: -13vh; */
    /*height: 33vh; 
  margin-top: -33vh; */
  visibility: hidden;
  /*border: 1px solid red;*/
}
/*
main {
	margin: 0;
}*/