html {
  position: relative;
  min-height: 100%;
}
body {
	font-family: 'Avenir Next', sans-serif;
	min-width: 100%;
	max-width: 100%;
}

footer {
  position: relative;
  height: 40vh !important;
  background-color: #f5f5f5;
  text-align: center;
}