	<div id="landing">
	  <div class="container">
	    <!-- <span id="hello" class="js-rotating">Hello!, 안녕!, 你好!</span> -->
	    <div id="hello" class="js-rotating">Hello!</div>
	    
	<!--    <script type="text/javascript">
	      $(".js-rotating").Morphext({
	          animation: "flipInX",
	          speed: 4000,
	          complete: function () {
	              console.log("js is rotating");
	          }
	      });
	    </script> -->

	    <h1>I'm <span id="rachelkim">Rachel Kim</span>.</h1>
	      <!-- Hi there!  -->
	      <!-- <h1>I'm <span>Rachel Kim</span>.</h1> -->
	      <!-- <p>I am an aspiring <strong>product manager</strong>.<br>I shape technology to identify problems and solve them.</p> -->
	      <p>I shape technology to <span>identify problems</span> and <span>design solutions</span>. <br>
	        Some of my skills include full-stack development, ux design, and data analytics.</p>

	    <p>Please free to learn more about who I am, what I do, and what I have done.</p>
	    <br>
	    <!-- <p>Resume | About Me | What I Do</p> -->

		<!-- 	<div>
				<a href="/home#about" class="scroll_to">
					<span>learn more about me!</span>
				</a>
			</div> -->

			<!-- 	<div class="section-class-name" data-section-name="home">
					<a href="/home#about" class="scroll_to">
						<span>learn more about me!</span>
					</a>
						
				</div> -->

		        <a href="#about" class="scroll">Scroll for more</a>
		        <!-- <a href="" ng-click="gotoAnchor(x)">Scroll for more</a> -->
		        

		        


	    </div>
	  
	  <!-- <a href="/home#about"><span></span>Scroll</a> -->




	  <!-- <div id="seeProjects">
	    <a href="#projects">
	      <span>Please check out my projects!</span>
	    </a>
	  </div>
 -->

	</div>

<main>
	<div id="about">
		<!-- <span class="anchor" id="about"></span> -->
		<!-- <div class="row"> -->
		<div>
			<div class="col-7">
				I'm a third-year student at Carnegie Mellon University. I'm passionate about using <strong>data</strong> to bridge the gap between <strong>humans</strong> and <strong>technology</strong> across cultures.
				<br>
				I enjoy working on interdisciplinary projects that bring intellectual challenges and contritubes to bettering the world.

				<!-- <br>
				Currently looking for summer 2019 internships! -->
	<!-- 
				<h2>Hi there, nice to meet you!</h2>
				<br>
				My name is <strong>Rachel Kim</strong>.
				<br>
				I am passionate about the intersection of <strong>business</strong> and <strong>technology</strong>. In particular, I am interested in harnessing data to solve business problems. 
				<br>
				
				I enjoy working on interdisplinary projects.
				<br>
				As a product strategist, I enjoy balancing the user needs, business goals, and technology abilities. -->
			</div>
			<div class="col-5">
				<img src="../assets/img/profile.JPG" style="max-width:250px;">
			</div>
		</div>

		<!-- <br><hr><br> -->
	<!-- 
		<div class="row">
			<div class="item">
				<h4>education</h4>
				<span>Carnegie Mellon University</span><br>
				<span>Aug 2015 - Dec 2019 *</span><br>
				<span>B.S. Information Systems</span><br>
				<span>Additional Major in Chinese Language and Culture</span><br>
				<span>Minor in Humanities Analytics</span>
				*gap semester Fall 2017
			</div>
		</div>
	 -->
		<hr>
		<div class="row">	
			Outside of work and the classroom, I enjoy...<br>
			<ul>
				<li><a href="https://rchlkm.yelp.com" target="_blank">eating</a> my way through my city</li>
				<li>appreciating the natural beauty of <a href="https://www.instagram.com/ilovethesky__/" target="_blank">skies & palm trees</a></li>
				<li>solo traveling with my Nikon d3300, GoPro Hero 5, and selfie stick & <a href="https://www.youtube.com/user/rachelkim1205/videos" target="_blank">documenting</a> my adventures</li>
				<li>finding <a href="https://www.pinterest.com/rhkkim/" target="_blank">inspiration</a> (and hopefully inspiring others)</li>
				<li>learning about other cultures and studying foreign languages (follow my cultural encounters while <a href="https://rachelinbeijing18.wordpress.com" target="_blank">studying abroad</a> in Beijing, China)</li>
				<!-- <li>being a 珍珠奶茶 (boba milk tea) enthusiast</li> -->
			</ul>
		</div>
		<!-- 
		<br><hr>
		<div class="row">
			<h3>Feel free to connect with me!</h3>
			<img src="email.png" alt="email: ">rachelkim.tech@gmail.com<br>
			<img src="img/github.png" alt="github: "><a href="https://github.com/rchlkm" target="_blank">/rchlkm</a><br>
			<img src="img/linkedin.png" alt="linkedin: "><a href="https://linkedin.com/in/rachelhkim" target="_blank">/rachelhkim</a><br>
		</div> -->
	</div>
</main>